@font-face {
    font-family: "Graphik";
    src:
      local("Tri"),
      url("../../font/graphik-regular-trial.otf") format("truetype") tech(color-COLRv1),
      
  }


h1{
    font-family: "Graphik";
    color: #00497c;
}
h2{
    font-family: "Graphik";
    color: #00497c;
}


.image-404{
    width: 500px;
    height: 500px;
    padding: 50px;
}
#contenaire-404{
    text-align: center;
    padding-top: 50px;
    background-color: #f1f8fc;
}
