@font-face {
    font-family: "Graphik";
    src:
      local("Tri"),
      url("../../font/graphik-regular-trial.otf") format("truetype") tech(color-COLRv1),
      
  }

.image-logo{
    height: 100px;
    width: 100px;
}

a{
    font-family: "Graphik";
}
fa-icon{
    padding-left: 10px;
    font-size: 22px;
    color: #384050;
}

nav{
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
}

