@font-face {
    font-family: "Graphik";
    src:
      local("Tri"),
      url("../../font/graphik-regular-trial.otf") format("truetype") tech(color-COLRv1),
      
  }

.footer-contenaire{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0074c7 ;
}
h3{
    color: white;
    font-family: "Graphik";
}

p{
    color: white;
    font-family: "Graphik";
}
ul{
    color: white;
    font-family: "Graphik";
}
a{
    color: white;
    font-family: "Graphik";
}