.footer-contenaire{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0074c7 ;
}
h3{
    color: white;
}

p{
    color: white;
}
ul{
    color: white;
}
a{
    color: white;
}