@font-face {
    font-family: "Graphik";
    src:
      local("Tri"),
      url("../../font/graphik-regular-trial.otf") format("truetype") tech(color-COLRv1),
      
  }


h3{
    color: white;
    font-family: "Graphik";
}

p{
    color: white;
    font-family: "Graphik";
}
ul{
    color: white;
    font-family: "Graphik";
}
a{
    color: white;
    font-family: "Graphik";
}
footer{
    background-color: #0074c7 ;
}
#footer-adresse{
    background-color: #0074c7 ;
    padding-top: 30px;
}