

<footer>
    <div class="row justify-content-center" >
        <div class="col-md-6 col-lg-4 mb-5" id="footer-adresse">
            <h3> Menu pour les pages légales</h3>
            <ul>
                <li><a href="#">mentions légales</a></li>
                <li><a href="#">données personnelles</a></li>
                <li><a href="#">accessibilité</a></li>
                <li><a href="#">cookies</a></li>
            </ul>
        </div> 
        <div class="col-md-6 col-lg-4 mb-5" id="footer-adresse">
            <h3>Adresse et contacts de l’antenne à Lyon :</h3>
            <p>101 cours Charlemagne</p>
            <p>CS 20033</p>
            <p>69269 LYON CEDEX 02</p>
            <p>France</p>
            <p>Télephone : +33 (0)4 26 73 40 00</p>
        </div>
    </div>
</footer>
