@font-face {
    font-family: "Graphik";
    src:
      local("Tri"),
      url("../../font/graphik-regular-trial.otf") format("truetype") tech(color-COLRv1),
      
  }

.food-conternaire{
    text-align: center;
}

h2{
    font-family: "Graphik";
}