@font-face {
    font-family: "Graphik";
    src:
      local("Tri"),
      url("../../font/graphik-regular-trial.otf") format("truetype") tech(color-COLRv1),
      
  }

.building-contenaire{
   background-color:#f1f8fc ;
}

h2{
    font-family: "Graphik";
    color: #00497c;
    font-size:2.5rem;
}
.h2-titre{
    padding-top: 20px;
  padding-left: 20px;
}
h5{
    font-family: "Graphik";
    color: #00497c;

}

.card{
    margin: 20px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.p-tir{
    background-color: #0074c7;
    width: 50px;
    height: 10px;
}
p{
    color: #384050;
    font-family: "Graphik";
}
.produits{
  padding-top: 100px;
  padding-bottom: 100px;
}
.btn{
    background-color: #0074c7;
}









