<main>
    <div class="building-contenaire">
        <div>
            <h2>Catégorie Bâtiment</h2>
        </div>


        <div>
          <input type="text" [(ngModel)]="Filtername">
        </div>



        <div class="produits">
          <div class="container">
              <div class="row ">
                <ng-container *ngFor="let artisan of datas | filter:'Bâtiment':'category'| filterSearch:Filtername "  >
                  <div class="card col-md-6 col-lg-4 mb-">
                    <h5>{{artisan.name}}</h5>
                    <p>Note : {{artisan.note}}</p>
                    <div>
                      <app-star-rating [rating]="artisan.note " [readonly]="true"></app-star-rating>
                    </div>
                    <p>Spécialité : {{artisan.specialty}}</p>
                    <p>Localisation : {{artisan.location}}</p>
                    <a class="nav-link" [routerLink]="['/artisan/',artisan.id]"><button type="button" class="btn btn-primary">Voir l'artisan</button> </a>
                    <div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
      </div>






    </div>
    
</main>
