<main>
    <div class="building-contenaire">
        <div>
            <h2>Catégorie Bâtiment</h2>
        </div>


        <div>
          <input type="text" [(ngModel)]="Filtername">
        </div>



        <div class="produits">
          <div class="container">
              <div class="row ">
                <ng-container *ngFor="let product of datas | filter:'Bâtiment':'category'|filterSearch:Filtername" >
                  <div class="card col-md-6 col-lg-4 mb-">
                    <h5>{{product.name}}</h5>
                    <p>Note : {{product.note}}</p>
                    <div>
                      <app-star-rating [rating]="product.note " [readonly]="true"></app-star-rating>
                    </div>
                    <p>Spécialité : {{product.specialty}}</p>
                    <p>Localisation : {{product.location}}</p>
                    <a class="nav-link" routerLink="/artisan/ {{product.name}}"><button type="button" class="btn btn-primary">Voir l'artisan</button>
                    </a>                   
                  </div>
                </ng-container>
              </div>
            </div>
      </div>






    </div>
    
</main>
