
<main>
    <div class="manufacturing-conternaire">
        <div>
            <h2>Catégorie Fabrication</h2>
        </div>



        <div class="produits">
          <div class="container">
              <div class="row ">
                <ng-container *ngFor="let product of datas | filter:'Fabrication':'category'" >
                  <div class="card col-md-6 col-lg-4 mb-">
                    <h5>{{product.name}}</h5>
                    <p>Note : {{product.note}}</p>
                    <div>
                      <app-star-rating [rating]="product.note " [readonly]="true"></app-star-rating>
                    </div>
                    <p>Spécialité : {{product.specialty}}</p>
                    <p>Localisation : {{product.location}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>                    
                  </div>
                </ng-container>
              </div>
            </div>
      </div>






        <div class=" row justify-content-center ">
            <div class="card col-md-6 col-lg-4 mb" >
                <div class="card-body">
                  <h5 *ngIf="this.data">{{this.data[1].name}}</h5>
                  <p *ngIf="this.data">Note : {{this.data[1].note}}</p>
                  <div *ngIf="this.data">
                    <app-star-rating [rating]="data[1].note " [readonly]="true"></app-star-rating>
                  </div>
                  <p *ngIf="this.data">Spécialité : {{this.data[1].specialty}}</p>
                  <p *ngIf="this.data">Localisation : {{this.data[1].location}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card col-md-6 col-lg-4 mb" >
                <div class="card-body">
                    <h5 *ngIf="this.data">{{this.data[4].name}}</h5>
                    <p *ngIf="this.data">Note : {{this.data[4].note}}</p>
                    <div *ngIf="this.data">
                      <app-star-rating [rating]="data[4].note " [readonly]="true"></app-star-rating>
                    </div>
                    <p *ngIf="this.data">Spécialité : {{this.data[4].specialty}}</p>
                    <p *ngIf="this.data">Localisation : {{this.data[4].location}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card col-md-6 col-lg-4 mb" >
                <div class="card-body">
                    <h5 *ngIf="this.data">{{this.data[15].name}}</h5>
                    <p *ngIf="this.data">Note : {{this.data[15].note}}</p>
                    <div *ngIf="this.data">
                      <app-star-rating [rating]="data[15].note " [readonly]="true"></app-star-rating>
                    </div>
                    <p *ngIf="this.data">Spécialité : {{this.data[15].specialty}}</p>
                    <p *ngIf="this.data">Localisation : {{this.data[15].location}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              
        </div>

    </div>
</main>
