@font-face {
    font-family: "Graphik";
    src:
      local("Tri"),
      url("../../font/graphik-regular-trial.otf") format("truetype") tech(color-COLRv1),
      
  }


.services-conternaire{
    text-align: center;
}

h2{
    font-family: "Graphik";
}
.card{
    margin: 20px;
    width: 400px;
}