<main>
    <div class="services-conternaire">
        <div>
            <h2>Catégorie Services</h2>
        </div>
        <div class=" row justify-content-center ">
            <div class="card col-md-6 col-lg-4 mb" >
                <div class="card-body">
                  <h5 *ngIf="this.data">{{this.data[2].name}}</h5>
                  <p *ngIf="this.data">Note : {{this.data[2].note}}</p>
                  <p *ngIf="this.data">Spécialité : {{this.data[2].specialty}}</p>
                  <p *ngIf="this.data">Localisation : {{this.data[2].location}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card col-md-6 col-lg-4 mb" >
                <div class="card-body">
                    <h5 *ngIf="this.data">{{this.data[5].name}}</h5>
                    <p *ngIf="this.data">Note : {{this.data[5].note}}</p>
                    <p *ngIf="this.data">Spécialité : {{this.data[5].specialty}}</p>
                    <p *ngIf="this.data">Localisation : {{this.data[5].location}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card col-md-6 col-lg-4 mb" >
                <div class="card-body">
                    <h5 *ngIf="this.data">{{this.data[7].name}}</h5>
                    <p *ngIf="this.data">Note : {{this.data[7].note}}</p>
                    <p *ngIf="this.data">Spécialité : {{this.data[7].specialty}}</p>
                    <p *ngIf="this.data">Localisation : {{this.data[7].location}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card col-md-6 col-lg-4 mb" >
                <div class="card-body">
                    <h5 *ngIf="this.data">{{this.data[13].name}}</h5>
                    <p *ngIf="this.data">Note : {{this.data[13].note}}</p>
                    <p *ngIf="this.data">Spécialité : {{this.data[13].specialty}}</p>
                    <p *ngIf="this.data">Localisation : {{this.data[13].location}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card col-md-6 col-lg-4 mb" >
                <div class="card-body">
                    <h5 *ngIf="this.data">{{this.data[14].name}}</h5>
                    <p *ngIf="this.data">Note : {{this.data[14].note}}</p>
                    <p *ngIf="this.data">Spécialité : {{this.data[14].specialty}}</p>
                    <p *ngIf="this.data">Localisation : {{this.data[14].location}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>

              </div>
              <div class="card col-md-6 col-lg-4 mb" >
                <div class="card-body">
                    <h5 *ngIf="this.data">{{this.data[16].name}}</h5>
                    <p *ngIf="this.data">Note : {{this.data[16].note}}</p>
                    <p *ngIf="this.data">Spécialité : {{this.data[16].specialty}}</p>
                    <p *ngIf="this.data">Localisation : {{this.data[16].location}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                
              </div>
            
        </div>
        
        
        
    </div>
</main>
