<main>
    <div class="home-contenaire">
        <div>
            <h1>Trouver Ton Artisan</h1>
        </div>
        <div>
            <h2>explication étape par étape du fonctionnement du site</h2>
            <ul>
                <li>Choisir la catégorie d’artisanat dans le menu.</li>
                <li>Choisir un artisan.</li>
                <li>Le contacter via le formulaire de contact.</li>
                <li>Une réponse sera apportée sous 48h.</li>
            </ul>
        </div>
        <div>
            <div>
                <h2>Les trois artisans du mois avec pour chacun :</h2>
            </div>
            
            <div class=" row justify-content-center ">
                <div class="card col-md-6 col-lg-4 mb" >
                    <div class="card-body">
                      <h5 *ngIf="this.data">{{this.data[8].name}}</h5>
                      <p *ngIf="this.data">Note : {{this.data[8].note}}</p>
                      <div *ngIf="this.data">
                        <app-star-rating [rating]="data[8].note " [readonly]="true"></app-star-rating>
                      </div>
                      <p *ngIf="this.data">Spécialité : {{this.data[8].specialty}}</p>
                      <p *ngIf="this.data">Localisation : {{this.data[8].location}}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  <div class="card col-md-6 col-lg-4 mb" >
                    <div class="card-body">
                        <h5 *ngIf="this.data">{{this.data[15].name}}</h5>
                        <p *ngIf="this.data">Note : {{this.data[15].note}}</p>
                        <div *ngIf="this.data">
                          <app-star-rating [rating]="data[15].note "  [readonly]="true"></app-star-rating>
                        </div>
                        <p *ngIf="this.data">Spécialité : {{this.data[15].specialty}}</p>
                        <p *ngIf="this.data">Localisation : {{this.data[15].location}}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  <div class="card col-md-6 col-lg-4 mb" >
                    <div class="card-body">
                        <h5 *ngIf="this.data">{{this.data[3].name}}</h5>
                        <p *ngIf="this.data">Note : {{this.data[3].note}}</p>
                        <div *ngIf="this.data">
                          <app-star-rating [rating]="data[3].note " [readonly]="true"></app-star-rating>
                        </div>
                        <p *ngIf="this.data">Spécialité : {{this.data[3].specialty}}</p>
                        <p *ngIf="this.data">Localisation : {{this.data[3].location}}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            
            
        </div>
    </div>
</main>
