@font-face {
    font-family: "Graphik";
    src:
      local("Tri"),
      url("../../font/graphik-regular-trial.otf") format("truetype") tech(color-COLRv1),
      
  }



.home-contenaire{
    text-align: center;
}

h1{
    font-family: "Graphik";
}
h2{
    font-family: "Graphik";
}

li{
    font-family: "Graphik";
}